<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="POS_OS_GG.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="fontawesome/css/brands.css" rel="stylesheet" />
    <link href="fontawesome/css/solid.css" rel="stylesheet" />
    <title>@ViewData["Title"] - POS</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh; background-color:gray; background-image:url(images/lager.png)">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>