@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="position-center">
            <div>
                <h4>@context.User.Identity.Name</h4>
                <MudButton Href="/logout" Color="Color.Secondary">Logout</MudButton>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {


}
