@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="position:absolute; left:0; top:0;" class="w-100 h-100 overflow-hidden">
    @Body
</div>


@code {

}
